#game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 360px;
    width: 360px;
}

.box {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border: 1px black solid;
    flex-basis: 30%;
    max-width: 120px;
    height: 120px;
    margin: 2px;
}

.box:hover {
    background-color: bisque;
}

.empty {
    background-color: white;
}